<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>:: &gt; US &lt; ::</title>
</head>
<body>
<pre>{{data}}</pre>

  <table class="main-table" cellpadding="0"border="0" width="650" style=" margin:30px auto !important; padding:0; position:relative; font-family:Arial, Helvetica, sans-serif; border:3px solid #6A6E87;">
    <tr>
      <td><a style="margin-top:-15px !important; margin-left:-15px !important; float:left !important;" href="javascript:void(0);"></a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><table cellpadding="0" width="100%">
        <tr>
          <td width="30">&nbsp;</td>
          <td width="590"><h1 style="text-align:center; color:#6A6E87; font-size:40px;">Your Screening Results: Average Risk</h1>
            <p style="color:#6A6E87; font-size:17px; line-height:23px;">
              Recently you took a baseline screening<br>
            </td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><h3 style="text-align:left; color:#6A6E87; font-size:25px; line-height:10px; margin:0; font-weight:bold;">Your risk factors are unique.</h3></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><p style="color:#6A6E87; font-size:17px; line-height:23px;">Text goes here</p></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><h3 style="text-align:left; color:#6A6E87; font-size:25px; line-height:10px; margin:0; font-weight:bold;">What does average mean?</h3></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><p style="color:#6A6E87; font-size:17px; line-height:23px;">Text here
              <br> <br> Text here 
            </p></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><h3 style="text-align:left; color:#6A6E87; font-size:25px; line-height:10px; margin:0; font-weight:bold;">What do I need to do now?</h3></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590"><p style="color:#6A6E87; font-size:17px; line-height:23px;">We would like you to continue your risk assessment by completing a more comprehensive questionnaire.<br />
              <br />
            </p></td>
            <td width="30">&nbsp;</td>
          </tr>
          <tr>
            <td width="30">&nbsp;</td>
            <td width="590" align="center"><a href="http://someUrl/#/{{token}}"><img src="images/continue-risk-assessment-btn.png" alt="Image" /></a></td>
            <td width="30">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
  </html>
