<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>:: &gt; US &lt; ::</title>
</head>
<body>
  <table class="main-table" cellpadding="0"border="0" width="650" style=" margin:30px auto !important; padding:0; position:relative; font-family:Arial, Helvetica, sans-serif; border:3px solid #6A6E87;">
    <tr>
      <td><a style="margin-top:-15px !important; margin-left:-15px !important; float:left !important;" href="javascript:void(0);"></a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><table cellpadding="0" width="100%">
        <tr>
          <td width="30">&nbsp;</td>
          <td width="590"><h1 style="text-align:center; color:#6A6E87; font-size:40px;">Screening Survey Complete
          </h1>
          <p style="color:#6A6E87; font-size:17px; line-height:23px;">
            Thank you for completing the screening survey! Please give this tablet back to your provider and they will discuss next steps with you.<br>
          </td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td width="30">&nbsp;</td>
          <td width="590" align="center"><a href="{{landingPage}}"><img src="images/provider-next-btn.png" alt="Image" /></a></td>
          <td width="30">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>
</html>

